@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1461030955'); /* IE9*/
  src: url('../font/iconfont.eot?t=1461030955#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1461030955') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1461030955') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1461030955#iconfont') format('svg'); /* iOS 4.1- */  }

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti1:before { content: "\e60a"; }
.icon-fanhui:before { content: "\e63b"; }
.icon-app:before { content: "\e6af"; }
.icon-wodedingdan31:before { content: "\e638"; }

$toolbar-size: 52px;
@mixin backgroundPosition($x,$y){
  background-position: 0 $x;
  &:hover{
    background-position: 0 $y;
  }
}

@mixin transition($trans){
  -moz-transition: $trans;
  -webkit-transition: $trans;
  -o-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin transformOrigin($origin){
  -moz-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin scale($scale){
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@mixin opacity($opacity){
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}
.toolbar{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
/*使用背景图片的样式*/
/*
.toolbar-item{
  position: relative;
  display: block;
  width: $toolbar-size;
  height: $toolbar-size;
  background: url("../img/toolbar.png") no-repeat;
  margin-top: 1px;
  @include transition(background-position 1s);
  &:hover{
    .toolbar-layer{
      @include opacity(1);
      @include scale(1);
    }
  }
}
.toolbar-item-weixin{
  @include backgroundPosition(-798px,-860px);

  .toolbar-layer{
    height: 212px;
    background-position: 0 0;
  }
}
.toolbar-item-feedback{
  @include backgroundPosition(-426px,-488px);
}
.toolbar-item-app{
  @include backgroundPosition(-550px,-612px);
  .toolbar-layer{
    height: 194px;
    background-position: 0 -222px;
  }
}
.toolbar-item-top{
  @include backgroundPosition(-674px,-736px);
}
.toolbar-layer{
  position: absolute;
  right: $toolbar-size - 6;
  bottom: -10px;
  width: 172px;
  background: url("../img/toolbar.png") no-repeat;
  @include opacity(0);
  @include transformOrigin(95% 95%);
  @include scale(0.01);
  @include transition(all 1s);
}*/

/*使用图标字体的样式*/
/*
.toolbar-item{
  position: relative;
  display: block;
  width: $toolbar-size;
  height: $toolbar-size;
  margin-top: 1px;

  &:hover{
    .iconfont{
      top: -$toolbar-size;
    }
    .toolbar-text{
      top: 0;
    }
    .toolbar-layer{
      @include opacity(1);
      @include scale(1);
    }
  }

}
.toolbar-btn,.iconfont,.toolbar-text{
  position: absolute;
  left: 0;
  width: $toolbar-size;
  height: $toolbar-size;
}
.toolbar-btn{
  top: 0;
  overflow: hidden;
}
.iconfont{
  top: 0;
  background-color: #d0d6d9;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: $toolbar-size;
  @include transition(top 1s);
}
.toolbar-text{
  top: $toolbar-size;
  background-color: #98a1a6;
  padding-top: 12px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  @include transition(top 1s);
}
.toolbar-layer{
  position: absolute;
  right: $toolbar-size - 6;
  bottom: -10px;
  width: 172px;
  background: url("../img/toolbar_img.png") no-repeat;
  @include opacity(0);
  @include transformOrigin(95% 95%);
  @include scale(0.01);
  @include transition(all 1s);
}
.toolbar-layer-weixin{
  height: 212px;
  background-position: 0 0;
}
.toolbar-layer-app{
  height: 194px;
  background-position: 0 -222px;
}*/

/*使用after和before伪类的样式*/
.toolbar-item{
  position: relative;
  display: block;
  width: $toolbar-size;
  height: $toolbar-size;
  margin-top: 1px;

  &:hover{
    .toolbar-btn{
      &:before{
        top: -$toolbar-size;
      }
      &:after{
        top: 0;
      }
    }

    &:after{
      @include opacity(1);
      @include scale(1);
    }
  }

  //添加二维码的样式
  &:after{
    content: "";
    position: absolute;
    right: $toolbar-size - 6;
    bottom: -10px;
    width: 172px;
    background: url("../img/toolbar_img.png") no-repeat;
    @include opacity(0);
    @include transformOrigin(95% 95%);
    @include scale(0.01);
    @include transition(all 1s);
  }
}
.toolbar-item-weixin{
  &:after{
    content: "";
    height: 212px;
    background-position: 0 0;
  }

  .toolbar-btn{
    &:before{
      content: "\e60a";
    }
    &:after{
      content: "公众\A账号";
    }
  }
}
.toolbar-item-feedback{
  .toolbar-btn{
    &:before{
      content: "\e638";
    }
    &:after{
      content: "意见\A反馈";
    }
  }
}
.toolbar-item-app{
  &:after{
    content: "";
    height: 194px;
    background-position: 0 -222px;
  }

  .toolbar-btn{
    &:before{
      content: "\e6af";
    }
    &:after{
      content: "app\A下载";
    }
  }
}
.toolbar-item-top{

  .toolbar-btn{
    &:before{
      content: "\e63b";
    }
    &:after{
      content: "返回\A顶部";
    }
  }
}
.toolbar-btn{
  position: absolute;
  top: 0;
  left: 0;
  width: $toolbar-size;
  height: $toolbar-size;
  overflow: hidden;

  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  //添加图标字体
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $toolbar-size;
    height: $toolbar-size;
    background-color: #d0d6d9;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: $toolbar-size;
    @include transition(top 1s);
  }

  //添加文字
  &:after{
    content: "";
    position: absolute;
    top: $toolbar-size;
    left: 0;
    width: $toolbar-size;
    height: $toolbar-size;
    background-color: #98a1a6;
    padding-top: 12px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    white-space: pre;
    @include transition(top 1s);
  }
}